.big-community-of-people-like-you {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: white;
}
.community-container {
  margin-top: 88px;
  margin-bottom: 71px;
  text-align: center;
  justify-content: center;
}
.community-heading {
  font-family: "Oswald", sans-serif;
  width: 400px;
  font-weight: 700;
  font-size: 48px;
  color: rgba(70, 69, 71, 1);
  padding-bottom: 41px;
  line-height: 64px;
  margin: 0 auto;
}
.par {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  width: 561px;
  margin-top: 0;
  color: rgba(102, 102, 102, 1);
  line-height: 32px;
  margin-bottom: 53px;
  margin: 0 auto;
  padding-bottom: 57px;
}
.humansContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.personContainer {
  display: block;
  flex-direction: column;
  text-align: center;
  width: 315px;
  max-width: 315px;
  margin-right: 20px;
}
.personContainer:last-child {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 0;
}
.personContainer img {
  width: 150px;
  height: auto;
  padding-top: 31px;
}
.description {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 20px;
  color: #666666;
  margin: 0 auto;
  width: 234px;
  padding-top: 20px;
}
.description-padding-1 {
  padding-bottom: 40px;
}
.description-padding-2 {
  padding-bottom: 60px;
}
.description-padding-3 {
  padding-bottom: 40px;
  width: 264px;
}
.personContainer strong {
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  padding-bottom: 12px;
  line-height: 18px;
  color: rgba(70, 69, 71, 1);
  font-size: 18px;
  font-weight: bold;
}
.position {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: #666666;
  width: 90px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.position-width-90 {
  width: 90px;
}
.position-width-85 {
  width: 95px;
}

@media (max-width: 480px) {
  .community-container {
    margin-bottom: 100px;
  }

  .big-community-of-people-like-you {
    height: auto;
  }

  .par {
    width: 410px;
    font-size: 24px;
  }

  .humansContainer {
    display: block;
  }

  .personContainer {
    display: none;
  }

  .personContainer:last-child {
    display: block;
    margin: 0 auto;
  }

  .personContainer img {
    margin: 0 auto;
  }
}
