#join-our-program {
  min-height: 436px;
}
.join-our-program-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: url("../assets/images/join-our-program.avif");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 436px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.join-our-program-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
}

.join-our-program-section > * {
  position: relative;
  z-index: 1;
}

.join-our-program-heading {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  margin-bottom: 32px;
  line-height: 64px;
  margin-top: 87px;
}

.join-our-program-description {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  position: relative;
  width: 400px;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.6);
  line-height: 32px;
  margin-bottom: 53px;
}

.join-our-program-input {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 29px;
  width: 400px;
  z-index: 1;
  outline: none;
}

.join-our-program-input::placeholder {
  color: white;
  opacity: 1;
}

.join-our-program-submit {
  height: 36px;
  background-color: #55c2d8;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 9px 20px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  z-index: 1;
  transition: background-color 0.3s;
}

@media (max-width: 480px) {
  .join-our-program-section {
    height: auto;
    background-image: url("../assets/images/mobile.avif");
  }

  .join-our-program-heading {
    margin-top: 88px;
    margin-bottom: 32px;
    line-height: 64px;
  }

  .join-our-program-description {
    margin-top: 0;
    margin-bottom: 49px;
    line-height: 32px;
  }

  .join-our-program-input {
    margin: 0 auto;
    margin-bottom: 42px;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 16px 15px;
  }

  .join-our-program-submit {
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: 14px;
  }
}

.hidden {
  display: none;
}
